
:root{
  --bg: var(--color-text-light);
  --color-text: var(--color-text-dark);
  --color-text-light: white;
  --color-text-dark: black;
}
*{
  font-size: 62.5%;
  
}
.app{
  background-color: var(--bg);
  color: var(--color-text); 
  transition:0.5s;
}
.app.dark{
  --bg: var(--color-text-dark);
  --color-text: var(--color-text-light)
}
.app.ligth{
  --bg: var(--color-text-light);
  --color-text: var(--color-text-dark)
}
.app .toggle-theme{
  position: relative;
  display: block;
  width: 90px;
  height:55px;
}
.slide{
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0;bottom: 0;
  background: var(--bg);
  transition: 0.5s;
  border: 3px solid var(--color-text);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.slide::before{
  position: absolute;
  content: '';
  bottom: 14px;
  top: 8px;
  background-color:var(--color-text);
  transition: 0.5s;
}
.app .toggle-theme input{
  display: none;
}
input:checked + .slide{
  background-color: black;
}
.slide.round{
  border-radius: 35px;
}
.slide.round::before{
  width: 43%;
  height: 43%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: rotateZ(-45deg);
  
}
input:checked + .slide::before{
  transform: translateX(47px) rotateZ(45deg);
  background-color: var(--color-text);
}




header{
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1{
  font-size:4rem;
  color: var(--color-text);
}
.section2{
  height:100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.section2 .content-loading{
  margin-top: 20vh;
  color:var(--color-text);
  font-size: 2.8rem;
}
.content-loading .loading{
  width: 50px;
  height: 50px;
  margin:auto;
  border-radius: 50%;
  border-top: 2px solid var(--color-text);
  animation: loading 1s ease-in-out infinite; 
  transform: rotate(180deg);
}
.container-button{
  height:100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.container-button button{
  width: 100px;
  height: 50px;
  margin-top: 20vh;
  color: var(--color-text);
  font-size:1.8rem;
  cursor: pointer;
  background-color: var(--bg);
  border-radius: 1rem;
}
.container-button button:hover{
  transform: translateY(-1px);
  box-shadow: 5px 13px 15px 5px var(--color-text);;
}

.content-game{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height:100vh;
  font-size: 4rem;
  color: var(--bg);
}
.content-game .time{
  display: block;
}
.content-game .time .game-on .word p{
  color: var(--color-text);
  text-transform: uppercase;
  font-weight:bold;
  letter-spacing: 0.5rem;
}
.content-game .time h2{
  font-size:3rem;
  color: var(--color-text);
}
.content-game .time::first-letter{
  color: var(--color-text);
  font-size: 4rem;
}
.content-game .content-p {
  display: flex;
  font-size: 4rem;
  color: var(--color-text);
  font-weight: bold;

}
.game-on{
  height: 100%;
  text-align: center;
  font-size: 5rem;
}
.word span{
  text-transform: uppercase;
  color: var(--color-text);
  font-weight: bold;
  letter-spacing: 0.5rem;
}

.end-gamme{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--bg);
  height: 100vh;
}
.end-gamme .punctuation h1{
  font-size: 5rem;
  color: var(--color-text);
}
.end-gamme .play-again button{
  background: var(--bg);
  width: auto;
  padding: 10px 20px;
  font-size: 3rem;
  color: var(--color-text);
  border-radius: 20px;
  margin-bottom: 30vh;
  
}

@keyframes loading {
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(90deg);
  }
  50%{
    transform: rotate(180deg);
  }
  75%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
}