@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap'); /* Rampart One */

*{
  font-family:  'Rampart One', cursive;
  text-decoration: none;
  
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  outline: none;
  overflow: hidden;
}

